.filter-btn {
  padding: 8px 15px;
  position: absolute;
  right: 40px;
  background-color: #d80000;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: Orbitron-Bold;
  letter-spacing: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-btn:hover {
  background-color: #a00000;
}

.filter-popup {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11;
}

.filter-popup-content {
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid red;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: Orbitron-Regular;
  letter-spacing: 2px;
  z-index: 11;
}

.filter-popup-content input {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-family: SpaceMono-Regular;
}

.reset-filter-btn,
.close-btn {
  padding: 10px;
  background-color: #d80000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Orbitron-Bold;
  letter-spacing: 2px;
}

.reset-filter-btn:hover {
  background-color: #a00000;
}

.reset-filter-btn {
  margin-top: 10px;
  margin-bottom: -5px;
}

@media (max-width: 768px) {
  .header {
    display: block;
  }
}
