.car-container {
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.filter-btn {
  padding: 8px 15px;
  position: absolute;
  right: 40px;
  background-color: #d80000;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: Orbitron-Bold;
  letter-spacing: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-btn:hover {
  background-color: #a00000;
}

.no-cars {
  text-align: center;
  font-size: 1.2em;
  color: gray;
}

.car-container-title {
  color: white;
  font-size: 2em;
  font-family: Orbitron-Regular;
  letter-spacing: 15px;
}

.car-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
  justify-content: center;
  max-width: 100%;
  font-family: monospace;
  font-size: 1.5em;
  will-change: transform;
}

.car-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: SpaceMono-Regular;
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: relative;
  min-height: 200px;
  padding-bottom: 45px;
  transition: transform 0.4s ease, box-shadow 0.3s ease-in-out;
}

.card-content {
  margin: 0;
  text-align: left;
}

.car-card.expired {
  border: 2px solid red;
  color: white;
  background: rgba(255, 0, 0, 0.1);
  animation: pulse 1.5s infinite alternate;
}

.car-card:hover .delete-btn {
  display: block;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
  }
}

.delete-btn {
  display: block;
  background: rgb(169, 0, 0);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(5px);
  opacity: 0;
  transition: background 0.3s ease, transform 0.5s ease;
}

.car-card:hover .delete-btn {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.car-card:not(:hover) .delete-btn {
  opacity: 0;
  transform: translateX(-50%) translateY(5px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.delete-btn:hover {
  background: darkred;
}

.filter-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.filter-popup-content {
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid red;
  width: 500px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: Orbitron-Regular;
  letter-spacing: 2px;
}

.filter-popup-content input {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-family: SpaceMono-Regular;
}

.apply-filter-btn,
.close-filter-btn {
  padding: 10px;
  background-color: #d80000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Orbitron-Bold;
  letter-spacing: 2px;
}

.close-filter-btn {
  margin-top: -20px;
}

.apply-filter-btn:hover,
.close-filter-btn:hover {
  background-color: #a00000;
}
