.car-form-container {
  position: relative;
  color: white;
  margin-top: 50px;
  margin-bottom: 30px;
  align-items: center;
}

.car-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.car-form input,
.car-form select,
.car-form button {
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.car-form select option:hover {
  background-color: red;
  color: white;
}

.error {
  color: red;
  font-size: 14px;
}

.car-form-title {
  font-family: Orbitron-Regular;
  text-align: center;
  letter-spacing: 15px;
  font-size: 2em;
  margin-bottom: 60px;
}

.input-box {
  width: 50%;
  text-align: center;
  box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.7);
  font-family: SpaceMono-Regular;
}
.input-box:hover {
  cursor: pointer;
}

.submit-btn {
  width: 20%;
  background-color: rgba(216, 0, 0, 0.871);
  color: white;
  font-family: Orbitron-Bold;
  font-size: 1.5em;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: rgba(216, 0, 0, 0.514);
}
