.car-form-container {
  position: relative;
  color: white;
  margin-top: 120px;
  margin-bottom: 50px;
  align-items: center;
  overflow: hidden;
}

.car-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.car-form input,
.car-form select,
.car-form button {
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.car-form select option:hover {
  background-color: red;
  color: white;
}

.error {
  color: red;
  font-size: 14px;
}

.car-form-title {
  font-family: Orbitron-Regular;
  text-align: center;
  letter-spacing: 15px;
  font-size: 2em;
  margin-bottom: 60px;
}

.input-box {
  width: 50%;
  text-align: center;
  box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.7);
  font-family: SpaceMono-Regular;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s, transform 0.5s;
  transition-delay: 0s;
}
.input-box:hover {
  cursor: pointer;
}
.input-box.visible {
  opacity: 1;
  transform: translateX(0);
}

.date-input {
  width: 100%;
  box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.7);
  font-family: SpaceMono-Regular;
  visibility: visible;
  text-align: center;
}

.tooltip-container {
  visibility: hidden;
  margin-bottom: 20px;
  margin-left: -10px;
  position: relative;
  text-align: center;
  box-shadow: 0px rgba(0, 0, 0, 0);
  font-family: SpaceMono-Regular;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s, transform 0.5s;
}

.tooltip-container.visible {
  opacity: 1;
  transform: translateX(0);
}

.tooltip-text {
  position: absolute;
  left: 50%;
  top: 110%;
  transform: translateX(-50%);
  color: white;
  font-family: SpaceMono-Regular;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.tooltip-container:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

.submit-btn {
  width: 20%;
  background-color: #d80000;
  color: white;
  font-family: Orbitron-Bold;
  font-size: 1.5em;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #a00000;
}

.input-box:nth-child(1) {
  transition-delay: 0.1s;
}

.input-box:nth-child(2) {
  transition-delay: 0.2s;
}

.input-box:nth-child(3) {
  transition-delay: 0.3s;
}

.input-box:nth-child(4) {
  transition-delay: 0.4s;
}

.input-box:nth-child(5) {
  transition-delay: 0.5s;
}
