.hamburger-menu {
  display: none;
  cursor: pointer;
  position: relative;
}

.hamburger-menu img {
  width: 30px;
  height: 30px;
}

.mobile-dropdown {
  position: absolute;
  top: 60px;
  left: 70%;
  background-color: white;
  width: 100%;
  transform-origin: top;
  transition: opacity 0.3s ease-out;
  visibility: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  padding: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content li {
  padding: 12px 16px;
  list-style-type: none;
  border-bottom: 1px solid grey;
}

.dropdown-content li:last-child {
  border-bottom: none;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  transition: color 0.3s ease;
}

.dropdown-content a:hover {
  color: #ff0000;
}

.mobile-dropdown.open {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .dropdown-content {
    display: block;
  }
}
